*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


.b{

    background-color:  #2a2f49;
    z-index: 6;
}


#icon{
    width: 30px;
    cursor: pointer;
    margin-right: 20px;
}

.carousel-item{
    width: 100%;
    height: 100vh;
}
.carousel-content{
    position: absolute;
    bottom: 90%;
    top: 24%;
    left: 55%;
    z-index: 5;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.n{
    font-size: 48px;
    font-weight: bold;
    margin-left: 2%;
}
.f{
    font-size: 60px;
    font-weight: bold;
    color: white;
}
.f1{
    color: #30bfec;
    font-size: 50px;
    font: bold;
    margin-right: 10%;
}
.f2{
    width:152px;
    height: 55px;
}
.t2{
    width: 40px;
    background-color: #30bfec;
    height: 40px;
    border-radius: 40px;
    font-size: 30px;
    margin-left: -10px;
}
.t{
    font-size: 30px;
    margin-top: -40px;
}

.active:before{
    color: black;
    background: #fff;
}
body.night{
    background: #000;
    color: #fff;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }













 